@charset "utf-8";

/* CSS Document */

.strength_meter {
    height: 23px;
    width: 154px;
    background: silver;
}

.strength_meter div {
    height: 23px;
    width: 100%;
    height: 23px;
    text-align: center;
    color: black;
    font-weight: bold;
    line-height: 23px;
}

.veryweak {
    background-color: #EC2939;
    border-color: #EC2939!important;
    color: white;
}

.weak {
    background-color: #FF6600;
    border-color: #FF6600!important;
    color: white;
}

.medium {
    background-color: #EE9E26;
    border-color: #EE9E26!important;
    color: white;
}

.strong {
    background-color: #006A52;
    border-color: #006A52!important;
    color: white;
}